body {
    font-family: 'JetBrains Mono', 'Segoe UI', Tahoma, sans-serif;
    background-color: #302E2B;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #e5c591;
}

#wrapper {
    display: flex;
    gap: 30px;
}

#dashBoard {
    border-radius: 10px;
    width: 500px;
    background-color: #201E1D;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 110px);
    grid-template-rows: repeat(8, 110px);
}

#status {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #EDD6B0;
    color: #B88762;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'JetBrains Mono'
}

#restart:hover {
    transform: scale(1.05);
    background-color: #e5c591;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    position: relative;
}

.pieced {
    cursor: grab;
}

.square.selected.light {
    background-color: #e7d98a;
}

.square.selected.dark {
    background-color: #b8b762;
}

.light {
    background-color: #EDD6B0;
}

.dark {
    background-color: #B88762;
}

.move-dot {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.move-dot.capture {
    display: block;
    width: 90px;
    height: 90px;
    border: 10px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background: transparent;
}