body {
    font-family: 'JetBrains Mono', 'Segoe UI', Tahoma, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #e5c591;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
}

#status {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #EDD6B0;
    color: #B88762;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'JetBrains Mono'
}

#restart:hover {
    transform: scale(1.05);
    background-color: #e5c591;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.sqare.pieced {
    cursor: grab;
}

.square.pieced:hover {
    outline: 2px solid rgb(255, 255, 255);
}

.square.selected.light {
    background-color: #edb0b0;
}

.square.selected.dark {
    background-color: #b86262;
}

.light {
    background-color: #EDD6B0;
}

.dark {
    background-color: #B88762;
}
